<html>
	<head>
		<title>Formulaire</title>
	</head>
	<body>
		<div id="container">
			<h1 id="title">FORMULAIRE</h1>
			<input id="to" type="text" placeholder="To (e.g. user@example.com)" /><br />
			<input id="subject" type="text" placeholder="Subject" /><br />
			<textarea id="content" cols="40" rows="5" placeholder="Write what you want to send"></textarea><br />
			<button id="send_email">Send Email</button><br />
			<span id="message"></span>
		</div>
		<script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
		<script>
			$(document).ready(function () {
			    var from, to, subject, text;
			    $("#send_email").click(function () {
			        to = $("#to").val();
			        subject = $("#subject").val();
			        text = $("#content").val();
			        $("#message").empty().html("Sending E-mail... Please wait");
			        $.get("http://localhost:1337/mail/send", {
			        	to: to,
			        	subject: subject,
			        	text: text
			        }, function (data) {
			        	$("#message").empty().html(data);
			        });
			    });
			});
		</script>
	</body>
</html>