	<!DOCTYPE HTML>
	<html>
	<head>
		<title>GTrotter</title>
		<meta charset="utf-8">
		<link href="../../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
		<link href="../../bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet">
		<link src="../../bower_components/bootstrap/js/bootstrap.js" rel="stylesheet">
		<link href="../css/accueil_stylesheet.css" rel="stylesheet">
		<link href="../css/project_stylesheet.css" rel="stylesheet">
		<link href="../css/team_stylesheet.css" rel="stylesheet">
		<link href="../css/timeline_stylesheet.css" rel="stylesheet">
	</head>
	<body>
		<div class="container"><br/>
			<div>
				<div class="menu_bar">
					<div class="navigation">
						<div class="bs-example">
							<nav id="myNavbar" class="navbar navbar-default" role="navigation">
								<div class="container">
									<div class="navbar-header">
										<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
											<span class="sr-only">Toggle navigation</span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
										</button>
										<a class="navbar-brand" href="#">GTrotter</a>
									</div>
									<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
										<ul class="nav navbar-nav">
											<li><a href="#projet">Projet</a></li>
											<li><a href="#equipe">Equipe</a></li>
											<li><a href="#timeline">Avancement</a></li>
											<li><a href="#">Partenaire</a></li>
											<li><a href="contact.html">Contact</a></li>
											<li><a href="map.html">Map</a></li>
										</ul>
										<ul class="nav navbar-nav navbar-right">
											<li><a href="#" onclick="Login_dropdown()">Login</a></li>
										</ul>
									</div>
								</div>
							</nav>
						</div>
					</div>
				</div>
				<div id="login_box">
				</div>
			</div>
		</div>
	</body>
</html><!-- <!DOCTYPE HTML>
<html>
<head>
	<title>GTrotter</title>
	<meta charset="utf-8">
	<link href="../../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
	<link href="../../bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet">
	<link src="../../bower_components/bootstrap/js/bootstrap.js" rel="stylesheet">
	<link href="../css/accueil_stylesheet.css" rel="stylesheet">
	<link href="../css/project_stylesheet.css" rel="stylesheet">
	<link href="../css/team_stylesheet.css" rel="stylesheet">
	<link href="../css/timeline_stylesheet.css" rel="stylesheet">
</head>
<body>
	<div>
		<div class="container"><br/>
			<section class="row" id="home">
			</div>
			<div class="menu_bar">
				<div class="navigation">
					<div class="bs-example">
						<nav id="myNavbar" class="navbar navbar-default" role="navigation">
							<div class="container">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
									<a class="navbar-brand" href="../index.html">GTrotter</a>
								</div>
								<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
									<ul class="nav navbar-nav">
										<li><a href="#projet">Projet</a></li>
										<li><a href="#equipe">Equipe</a></li>
										<li><a href="#">Avancement</a></li>
										<li><a href="#">Partenaire</a></li>
										<li><a href="partials/contact.html">Contact</a></li>
										<li><a href="partials/home.html">Home</a></li>
										<li><a href="#">Map</a></li>
									</ul>
									<ul class="nav navbar-nav navbar-right">
										<li><a href="#" onclick="Login_dropdown()">Login</a></li>
									</ul>
								</div>
							</div>
						</nav>
					</div>
				</div>
			</div>
			<div id="login_box">
			</div>
		</section><br/>
		<div id="wrapper">
			<div id="c1" style="width: 15%; height: 100%;  float: left; display:inline-block; background: lightblue; 	text-align:center;">	Le projet GTrotter consiste en la création d’une plateforme communautaire indépendante destinée aux globe-trotters et passionnés de voyage du monde entier disponible sous forme de site web et d’applications mobile. À travers divers outils, l’utilisateur pourra créer son aventure dans les moindres détails, jour après jour, et partager son expérience et ses découvertes avec les autres membres de la communauté. Il aura la possibilité de faire part des lieux qu’il trouve remarquables en prenant une photo et en donnant une description de ces lieux qui seront alors ajoutés et consultables par les autres membres depuis une carte interactive.
				Ces derniers pourront interagir entre eux pour donner leur avis, contester des informations déjà présentes ou encore partager leur propre expérience. Un mode hors-ligne permettra également à l’utilisateur de disposer de données prédéfinies pour ses voyages et également la possibilité de partager son contenu qui sera synchronisé dès retour d’une connexion internet disponible.
				Le contenu entier de ce projet vise à être fourni par les utilisateurs eux-mêmes et non par des sociétés ou autres entités liées au domaine du voyage, ce qui garantit l’indépendance de l’information. En plus de cela, notre ambition à terme pour ce projet est de promouvoir l’aspect social des voyages. La simplicité d’utilisation de ce système sera le critère numéro 1 dans la construction de ces derniers.</div>
				<div id="c2" style="width: 40%; height: 100%; display:inline-block;	text-align:center; position:absolute;
				left: 40%;
				background: blue; 
				margin-left: -100px; /* Cette valeur doit être la moitié négative de la valeur du width */
				"> 	Le projet GTrotter consiste en la création d’une plateforme communautaire indépendante destinée aux globe-trotters et passionnés de voyage du monde entier disponible sous forme de site web et d’applications mobile. À travers divers outils, l’utilisateur pourra créer son aventure dans les moindres détails, jour après jour, et partager son expérience et ses découvertes avec les autres membres de la communauté. Il aura la possibilité de faire part des lieux qu’il trouve remarquables en prenant une photo et en donnant une description de ces lieux qui seront alors ajoutés et consultables par les autres membres depuis une carte interactive.
				Ces derniers pourront interagir entre eux pour donner leur avis, contester des informations déjà présentes ou encore partager leur propre expérience. Un mode hors-ligne permettra également à l’utilisateur de disposer de données prédéfinies pour ses voyages et également la possibilité de partager son contenu qui sera synchronisé dès retour d’une connexion internet disponible.
				Le contenu entier de ce projet vise à être fourni par les utilisateurs eux-mêmes et non par des sociétés ou autres entités liées au domaine du voyage, ce qui garantit l’indépendance de l’information. En plus de cela, notre ambition à terme pour ce projet est de promouvoir l’aspect social des voyages. La simplicité d’utilisation de ce système sera le critère numéro 1 dans la construction de ces derniers.</div>
				<div id="c3" style="width: 15%; height: 100%;  float: right; display:inline-block; background: burlywood;	text-align:center;"> 	Le projet GTrotter consiste en la création d’une plateforme communautaire indépendante destinée aux globe-trotters et passionnés de voyage du monde entier disponible sous forme de site web et d’applications mobile. À travers divers outils, l’utilisateur pourra créer son aventure dans les moindres détails, jour après jour, et partager son expérience et ses découvertes avec les autres membres de la communauté. Il aura la possibilité de faire part des lieux qu’il trouve remarquables en prenant une photo et en donnant une description de ces lieux qui seront alors ajoutés et consultables par les autres membres depuis une carte interactive.
					Ces derniers pourront interagir entre eux pour donner leur avis, contester des informations déjà présentes ou encore partager leur propre expérience. Un mode hors-ligne permettra également à l’utilisateur de disposer de données prédéfinies pour ses voyages et également la possibilité de partager son contenu qui sera synchronisé dès retour d’une connexion internet disponible.
					Le contenu entier de ce projet vise à être fourni par les utilisateurs eux-mêmes et non par des sociétés ou autres entités liées au domaine du voyage, ce qui garantit l’indépendance de l’information. En plus de cela, notre ambition à terme pour ce projet est de promouvoir l’aspect social des voyages. La simplicité d’utilisation de ce système sera le critère numéro 1 dans la construction de ces derniers.</div>
				</div>
			</body>
			</html> -->