<!DOCTYPE HTML>
<html>
<head>
	<title>GTrotter</title>
	<meta charset="utf-8">
	<link href="../../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
	<link href="../../bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet">
	<link src="../../bower_components/bootstrap/js/bootstrap.js" rel="stylesheet">
	<link href="../css/accueil_stylesheet.css" rel="stylesheet">
	<link href="../css/project_stylesheet.css" rel="stylesheet">
	<link href="../css/team_stylesheet.css" rel="stylesheet">
	<link href="../css/timeline_stylesheet.css" rel="stylesheet">
	<script src="../js/Menu.js"></script>
</head>
<body>
	<div>
		<div class="container"><br/>
			<h1>Here you  could see soon a map with all the contributions of our users !<br/> Enjoy</h1>
		</div>
	</body>
	</html>