	<!DOCTYPE HTML>
	<html>
	<head>
		<title>Accueil</title>
		<meta charset="utf-8">
		<script src="../bower_components/jquery/dist/jquery.js"/></script>
		
		<script src="../bower_components/angular-file-upload/angular-file-upload.min.js"/></script>
		<script src="../bower_components/angular-file-upload/angular-file-upload-shim.min.js"/></script>
		
		<link  href="../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
		<link  href="../bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet">
		<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
		<link  href="../bower_components/vis/dist/vis.css" rel="stylesheet">
		<script src="../bower_components/vis/dist/vis.js"/></script>
		<link  href="js/jVectorMap/jquery-jvectormap-2.0.1.css" rel="stylesheet">
		<script src="js/jVectorMap/jquery-jvectormap-2.0.1.min.js"></script>
		<script src="js/jVectorMap/jquery-jvectormap-world-mill-en.js"></script>
		<link  href="css/basic_stylesheet.css" rel="stylesheet">
		<script src="js/website_vitrine.js"></script>
		<script src="js/data_map.js"></script>
	</head>
	<body>
		<div class="container" id="main_div"><br/>
			<section class="row" id="home">
				<div>
					<div class="col-lg-6 col-lg-offset-5">
						<img src="images/logo.jpg" height="200">
					</div>
					<div class="col-lg-4 col-lg-offset-5">
						<p>Une Nouvelle Façon de Voyager</p>
						<p>A New Way to Travel</p>
					</div>
				</div>
			</section><br/>
			<section class="row">
				<div style="">
					<a name="projet" class="anchor_title"></a>
					<div class="title_project">
						<p>PROJET</p>
					</div>
					
					<div class="contener_text_project">
						<div class="text_project"> 
							<p>
								GTROTTER est une suite de services web et applicatives.
								GTROTTER s'adresse aux passionnés, aux curieux et à tous ceux désirants découvrir et partager leurs voyages sur l'ensemble des continents.
							</p>
							<!-- OLD
							<p>
								Le projet GTrotter consiste en la création d’une plateforme communautaire indépendante destinée aux globe-trotters et passionnés de voyage du monde entier disponible sous forme de site web et d’applications mobile. À travers divers outils, l’utilisateur pourra créer son aventure dans les moindres détails, jour après jour, et partager son expérience et ses découvertes avec les autres membres de la communauté. Il aura la possibilité de faire part des lieux qu’il trouve remarquables en prenant une photo et en donnant une description de ces lieux qui seront alors ajoutés et consultables par les autres membres depuis une carte interactive.
								Ces derniers pourront interagir entre eux pour donner leur avis, contester des informations déjà présentes ou encore partager leur propre expérience. Un mode hors-ligne permettra également à l’utilisateur de disposer de données prédéfinies pour ses voyages et également la possibilité de partager son contenu qui sera synchronisé dès retour d’une connexion internet disponible.
								Le contenu entier de ce projet vise à être fourni par les utilisateurs eux-mêmes et non par des sociétés ou autres entités liées au domaine du voyage, ce qui garantit l’indépendance de l’information. En plus de cela, notre ambition à terme pour ce projet est de promouvoir l’aspect social des voyages. La simplicité d’utilisation de ce système sera le critère numéro 1 dans la construction de ces derniers.
							</p>
							-->
						</div>
					</div>
				</div>

			</section><br/>
			<section class="row">
				<div>
					<a name="equipe" class="anchor_title"><center><h1>N O U S</h1></center></a>
					<div class="col-12"><center>
						<p>Une équipe d'étudiants autant passioné par l'informatique que par les voyages</p>
					</center></div>
					<br/>

					<div class="cleaner"/>
					<div class="row">
						<div class="col-xs-12 col-sm-2 col-md-3 col-lg-3">
							<center id="teamate0">
								<div class='talk'>
									<p>Developpeur Web</p>
								</div>
								<img src="images/benjamin_bagot_epitech.jpg" class="team_img" alt="Benjamin BAGOT">
								<p>Benjamin BAGOT</p>
							</center>
						</div>
						<div class="col-xs-12 col-sm-2 col-md-3 col-lg-3">
							<center id="teamate1">
								<div class='talk'>
									<p>Developpeur Web</p>
								</div>
								<img src="images/cedric_guerrier_epitech.jpg" class="team_img" alt="Cedric GUERRIER">
								<p>Cedric GUERRIER</p>
							</center>
						</div>
						<div class="col-xs-12 col-sm-2 col-md-3 col-lg-3">
							<center id="teamate2">
								<div class='talk'>
									<p>Developpeur Web Map</p>
								</div>
								<img src="images/gregory_quere_epitech.jpg" class="team_img" alt="Gregory QUERE">
								<p>Gregory QUERE</p>
							</center>
						</div>
						<div class="col-xs-12 col-sm-2 col-md-3 col-lg-3">
							<center id="teamate3">
								<div class='talk'>
									<p>Responsable Web</p>
								</div>
								<img src="images/jimmy_farcy_epitech.jpg" class="team_img" alt="Jimmy FARCY">
								<p>Jimmy FARCY</p>
							</center>
						</div>
						<div class="col-xs-12 col-sm-2 col-md-3 col-lg-3">
							<center id="teamate4">
								<div class='talk'>
									<p>Developpeur iOS</p>
								</div>
								<img src="images/julian_hoquang_epitech.jpg" class="team_img" alt="Julian HO QUANG">
								<p>Julian HO QUANG</p>
							</center>
						</div>
						<div class="col-xs-12 col-sm-2 col-md-3 col-lg-3">
							<center id="teamate5">
								<div class='talk'>
									<p>Chef d'Equipe Responsable Serveur</p>
								</div>
								<img src="images/mathieu_ville_epitech.jpg" class="team_img" alt="Mathieu VILLE">
								<p>Mathieu VILLE</p>
							</center>
						</div>
						<div class="col-xs-12 col-sm-2 col-md-3 col-lg-3">
							<center id="teamate6">
								<div class='talk'>
									<p>Developpeur Windows Phone</p>
								</div>
								<img src="images/mortimer_leborgne_epitech.jpg" class="team_img" alt="Mortimer LEBORGNE">
								<p>Mortimer LEBORGNE</p>
							</center>
						</div>
						<div class="col-xs-12 col-sm-2 col-md-3 col-lg-3">
							<center id="teamate7">
								<div class='talk'>
									<p>Developpeur Serveur</p>
								</div>
								<img src="images/yoann_bourgault_epitech.jpg" class="team_img" alt="Yoann BOURGAULT">
								<p>Yoann BOURGAULT</p>
							</center>
						</div>
					</div>
				</div>
			</section>
			<br/>
			<div id="screen">
			</div>
			<section class="row">
				<a name="timeline" class="anchor_title"><center><h1>Notre Progression</h1></center></a>
					<div id="TimeLine">
					</div>
					<script>launch_timeline();</script>
			</section><br/>
			<section class="row">
				<a name="worldmap" class="anchor_title"><center><h1>Nos Données Récoltées</h1></center></a>
				<div id="world-map" style="width: 100%; height: 600px;"></div>
				<script>
					call_map();
				</script>
			</section><br/>
			<div class="menu_bar">
				<div class="navigation">
					<div class="bs-example">
						<nav id="myNavbar" class="navbar navbar-default" role="navigation">
							<div class="container">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
									<a class="navbar-brand" href="#">GTrotter</a>
								</div>
								<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
									<ul class="nav navbar-nav">
										<li><a href="#projet">Projet</a></li>
										<li><a href="#equipe">Equipe</a></li>
										<li><a href="#timeline">Avancement</a></li>
										<li><a href="#">Partenaire</a></li>
										<li><a href="partials/contact.html">Contact</a></li>
										<li><a href="partials/map.html">Map</a></li>
									</ul>
									<ul class="nav navbar-nav navbar-right">
										<li><a href="#" onclick="Login_dropdown()">Login</a></li>
										<li><a href="#" onclick="Inscription_dropdown()">Inscription</a></li>
									</ul>
								</div>
							</div>
						</nav>
					</div>
				</div>
			</div>
			<div id="login_box">
			
				<div ng-app="mod">
				<form class="form-horizontal" name="registerForm">
				<div id="login">
				
					<div class="form-group input-box" ng-class="{'has-error': registerForm.$dirty && registerForm.Email.$invalid, 'has-success': registerForm.Email.$valid}">
						<label class="col-sm-3 control-label" for="Email">Email</label>
							<div class="col-sm-9">
								<input id="Email" type="email" class="form-control" required name="Email" ng-model="Email" />
							</div>
					</div>
	   
					<div class="form-group input-box" ng-class="{'has-error': registerForm.$dirty && registerForm.Password.$invalid, 'has-success': registerForm.Password.$valid}">
						<label class="col-sm-3 control-label" for="Password">Password</label>
							<div class="col-sm-9">
								<input id="Password" type="password" class="form-control" required ng-minlength="6" name="Password" ng-model="Password" />
							</div>
						<!--
							<span class="text-danger" ng-show="registerForm.Password.$error.minlength">
								Password too short
							</span>
						-->
					</div>
					<!--
					<div class="form-group input-box" ng-class="{'has-error': registerForm.$dirty && registerForm.ConfirmPassword.$invalid, 'has-success': registerForm.ConfirmPassword.$valid}">
						<label class="col-sm-3 control-label" for="ConfirmPassword">Confirm Password</label>
							<div class="col-sm-9">
								<input id="ConfirmPassword" type="password" class="form-control" required equals-to="registerForm.Password" name="ConfirmPassword" ng-model="ConfirmPassword" />
							</div>
							<span class="text-danger col-sm-offset-3" ng-show="!registerForm.ConfirmPassword.$error.required && registerForm.ConfirmPassword.$error.equalsTo">
								Passwords are differents
							</span>

					</div>
					-->
					<div class="form-group">
						<div>
						<!--class="col-sm-offset-3 col-sm-9"-->
						<input type="submit" class="btn btn-default" value="Connect" ng-disabled="registerForm.$invalid" />
						</div>
					</div>
				
				</div>
				</form>
				</div>
			</div>
		
			<div id="inscription_box">
			
				<div ng-app="mod">
				<form class="form-horizontal" name="registerForm">
				<!--<div class="container">-->
				<h1>Register Now</h1>
						<div class="form-group" ng-controller="RegisterController">      
							<div >
							<div class="form-group input-box">
							  <label class="col-sm-3 control-label"  for="GivenName">Given Name</label>
							  <div class="col-sm-9">
								<input class="form-control" id="GivenName" placeholder="Given Name" type="text" ng-model="user.givenname">
								<i class="asterisk red icon"></i>
							  </div>
							</div>

							<div class="form-group input-box">
							  <label class="col-sm-3 control-label"  for="Surname">Surname</label>
							  <div class="col-sm-9">
								<input class="form-control" id="Surname" placeholder="Surname" type="text" ng-model="user.surname">
								<i class="asterisk red icon"></i>
							  </div>
							</div>
						  </div>
						  
						  <div class="form-group input-box" ng-class="{'has-error': registerForm.$dirty && registerForm.Email.$invalid, 'has-success': registerForm.Email.$valid}">
								<label class="col-sm-3 control-label" for="Email">Email</label>
								<div class="col-sm-9">
									<input id="Email" type="email" class="form-control" required name="Email" ng-model="Email" />
								</div>
						   </div>

						  <div class="form-group input-box">
							<label class="col-sm-3 control-label"  for="Username">Username</label>
							<div class="col-sm-9">
							  <input class="form-control" id="Username" placeholder="Username" type="text" ng-model="user.username">
							  <i class="asterisk red icon"></i>
							</div>
						  </div>

								<div class="form-group input-box" ng-class="{'has-error': registerForm.$dirty && registerForm.Password.$invalid, 'has-success': registerForm.Password.$valid}">
								<label class="col-sm-3 control-label" for="Password">Password</label>
								<div class="col-sm-9">
									<input id="Password" type="password" class="form-control" required ng-minlength="6" name="Password" ng-model="Password" />
							
							</div> 
							<!--
							<span class="text-danger col-sm-offset-3" ng-show="registerForm.Password.$error.minlength">
										Password too short
							</span>
							-->
							</div>
							
							
							<div class="form-group input-box" ng-class="{'has-error': registerForm.$dirty && registerForm.ConfirmPassword.$invalid, 'has-success': registerForm.ConfirmPassword.$valid}">
								<label class="col-sm-3 control-label" for="ConfirmPassword">Confirm Password</label>
								<div class="col-sm-9">
									<input id="ConfirmPassword" type="password" class="form-control" required equals-to="registerForm.Password" name="ConfirmPassword" ng-model="ConfirmPassword" />
							
								</div> 
							<!--
							<span class="text-danger col-sm-offset-3" ng-show="!registerForm.ConfirmPassword.$error.required && registerForm.ConfirmPassword.$error.equalsTo">
										Passwords are differents
							</span>
							-->
							</div>
							
							<div id="genre">
								<div class="form-group radio">
								<label id="genre-choice">
									<input type="radio" name="optionsRadios" id="optionsRadios1" value="male" checked>Male</label>
								</div>
								<div class="form-group radio">
								  <label id="genre-choice">
									<input type="radio" name="optionsRadios" id="optionsRadios2" value="female">Female</label>
								</div>
							</div>
							
							<div id="age">
							<label class="col-sm-3 control-label"  for="Age">Age</label>
								<select id="age-choice" class="form-control">
									 <option>Under 10</option>
									 <option>10 - 19</option>
									 <option>20 - 29</option>
									 <option>30 - 39</option>
									 <option>40 - 49</option>
									 <option>50 - 59</option>
									 <option>60 - 69</option>
									 <option>70 - 79</option>
									 <option>80 - 89</option>
									 <option>90 - 99</option>
									 <option>100 or More</option>
								</select>
							</div>
							
							<div id="avatar">
								<label id="avatar-title" class="col-sm-3 control-label"  for="Avatar">Avatar</label>
								<!--<input type="text" ng-model="myModelObj">-->

								<input type="file" ng-file-select="onFileSelect($files)" multiple accept="image/*">
								<div class="button" ng-file-select="onFileSelect($files)" data-multiple="true"></div>
								
								<!--<button ng-click="upload.abort()">Cancel Upload</button>-->
								</div>
							</div>
							<script>
								Upload_file();
							</script>
 
 
						<div class="form-group">
								<div>
								<!--class="col-sm-offset-3 col-sm-9"-->
									<button type="submit" class="btn btn-default" ng-click="register()" ng-disabled="registerForm.$invalid" >Sign Up</button>
								</div>	
							</div>
							  
							  <div class="ui error message"></div>
							</div>

					 <!--</div>-->
					</form>
					<script>
						Connexion_check();
					</script>
					</div>
			
			</div>
		</div>
	
	<!-- NEW Part -->
	

	<div class="box_presentation_title">
		<div class="presentation_title">
		PARTAGE
		</div>
	</div>
	<div id="partage"><center>
		<img src="images/presentation_share.jpg" alt="" />
		<h2>
		<span>
		L'utilisateur pourra aux grés de ses envies uploader des photos, des commentaires ou bien même ses coordonnées GPS sur son espace personnel appelé « Carnet ».
		<br />
		Toutes ces nouvelles informations seront en mesure d’être partagées sur les autres réseaux sociaux comme Twitter ou Facebook de manière simple.
		<br />
		GTROTTER proposera une cartographie complète à direction de ses utilisateurs.
		<br />
		Ceux-ci pourront synchroniser en temps-réel leur position dans le monde et le partager avec tous leurs contacts.
		<br />
		Avec possibilité de créer des itinéraires pour prévoir un futur voyage.
		</span>
		</h2></center>
	</div>
	
	<div class="presentation_title">
	SECURITE
	</div>
	<div id="security"><center>
		<img src="images/presentation_security.jpg" alt="" />
		<h2>
		<span>
		Les services GTROTTER assure une confidentialité totale, les données pourront être publiques ou privées selon le choix de l’utilisateur.
		<br />
		De plus un filtre pour les personnes mineurs est accessible permettant aux utilisateurs les plus jeunes de pouvoir avoir une expérience satisfaisante est sécurisé sur GTROTTER.
		<br />
		GTROTTER possèdera un système de feedback permettant à n’importe quel utilisateur de faire remonter aux administrateurs des données n’ayant pas la place sur les services.
		</span>
		</h2></center>
	</div>
	
	<div class="presentation_title">
	CONNECTE
	</div>
	<div id="mobility"><center>
		<img src="images/presentation_mobility.jpg" alt="" />
		<h2>
		<span>
		L’ensemble de GTROTTER sera disponible partout dans le monde et vous suivra dans votre quotidien ou que vous soyez.
		<br />
		Les services seront disponibles sous Android, Windows Phone et IOS permettant à tout possesseur de Smartphone.
		<br />
		Les applications promettent une expérience fluide ainsi qu’un mode hors-ligne. 
		<br />
		Toutes les données précédemment enregistré seront accessibles sans connexion,
		</br> pour que l’utilisateur puisse utiliser ses parcours ou toutes autres informations n’importe où dans le monde.	</span>
		</h2></center>
	</div>
	
	<div class="presentation_title">
	INSCRIPTION
	</div>
	<div id="inscription"><center>
		<img src="images/presentation_inscription.jpg" alt="" />
		<h2>
		<span>
		L’inscription se fait de manière très facile.
		<br />
		Il est possible de lier directement son compte GTROTTER à son compte Gmail ou Facebook permettant à l’utilisateur de ne pas avoir à mémoriser de nouveaux identifiants.
		<br />
		Le nouveau venu pourra néanmoins, s’il le souhaite procédé à une inscription de manière classique.
		</h2></center>
	</div>
	
	<!-- END NEW Part -->

	</body>
	
	<footer id="footer">
	  <div class="container">
		<ul class="footer-links">			
		  <li><a href="contact.html"></a>Contact</li>
		  <li class="muted">&middot;</li>
		  <li><a href="propos.html"></a>About us</li>
		  <li class="muted">&middot;</li>
		  <li><a href="mentions_legales.html"></a>Terms</li>
		  <li class="muted">&middot;</li>
		  <li><a href="conditions_generale.html"></a>Condition</li>
		</ul>
		<ul class="footer-links">
			<a href="#">
				<img src="http://www.w3.org/html/logo/badge/html5-badge-h-css3.png" width="133" height="64" alt="HTML5 Powered with CSS3 / Styling" title="HTML5 Powered with CSS3 / Styling">
			</a>
			<a href="#">
				<img src="images/angularjs.png" width="80" height="80" alt="AngularJS" title="AngularJS">
			</a>
			<a href="#">
				<img src="images/logo_epitech.jpg" width="231" height="84" alt="Epitech" title="Epitech">
			</a>
		</ul>
		<ul>
		Copyright 2014 - 2015 GTrotter. Marque d&eacutepos&eacutee. Tous droits r&eacuteserv&eacutes.
		</ul>
		</div>
	</footer>

	
	</html>